@use '../custom' as *;
@use '../components/mixins' as *;

.footer {
    padding-top: 1rem;
    background-color: $footer;
}

.contact-box {
    position: relative;

    &__icon {
        padding-right: 1rem;
        width: 3.5rem;
        stroke: $white;
    }

    &__info {
        padding: 0.4rem;

        &--title {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $orange;
            }
        }

        &--subtitle {
            font-size: 1rem;
            color: $gray-500;
            text-decoration: none;
        }
    }
}