@use '../custom' as *;
@use '../components/mixins' as *;

.get-started {
    padding: 4rem 0;
    background-color: $gray-200;
}

.cta-info {
    padding: 3rem;
    margin: 1rem 0;

    &__list {
        position: relative;
        list-style-type: none;
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        margin-bottom: 0.7rem;
    }

    li {
        margin-bottom: 0.5rem;
        i {
            margin-right: 0.5rem;
            font-size: 1.4rem;
        }
    }
}

// Form

.form {
    padding: 3rem;
}