@use '../custom' as *;

.services {
    position: relative;

    &__content {
        padding: 1rem;

        .top-txt {
            margin-bottom: 1rem;
            
            .title {
                font-weight: 600;
            }
            
            .icon {
                font-size: 2rem;
                color: $orange;
                padding: 0;
            }

        }
    }
}