@use '../custom' as *;

// Gradient Animation
.anim-gradient-blue {
    background: linear-gradient(to right, #4b6cb7, #4a70bb, #2e55a5);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: animation 8s linear infinite;
    background-size: 400% 100%;
}

.anim-gradient-orange {
    background: linear-gradient(to right, $orange, $orange-400, $orange-300, $orange-400, $orange);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: animation 8s linear infinite;
    background-size: 400% 100%;
}

@keyframes animation {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
}