@use '../custom' as *;

// Display-2
.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    .intro {
        display: inline-block;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    .description {
        font-size: 1rem;
        display: block;
        margin-top: 1.5rem;
        text-transform: none;

        @include media-breakpoint-up(lg) {
            font-size: 1.25rem;
            display: inline-block;
        }
    }
}

.orange-text {
    color: $orange;
}

// Heading line
.heading-line {
    &::before {
        content: "";
        margin: 0 auto;
        width: 10rem;
        height: 0.1rem;
        display: block;
        background-color: $orange;
    }

    &::after {
        content: "";
        margin: 0 auto;
        width: 2rem;
        height: 0.2rem;
        padding-top: 0.5rem;
        display: block;
        margin-bottom: 1rem;
        background-color: $orange;
    }
}

// fs-3
.top-txt {
    font-family: 'Poppins', sans-serif;

}

.anim-gradient-blue {
    background: linear-gradient(to right, $secondary, $light, #2e55a5);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: animation 8s linear infinite;
    background-size: 400% 100%;
}

@keyframes animation {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
}

// Border-right
.border-right {
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}