@use '../custom' as *;

.display-2 {
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    .intro {
        display: inline-block;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
    }

    .description {
        font-size: 1rem;
        display: block;
        margin-top: 1.5rem;
        text-transform: none;

        @include media-breakpoint-up(lg) {
            font-size: 1.25rem;
            display: inline-block;
        }
    }
}

.orange-text {
    color: $orange;
}

// Heading line
.heading-line::before {
    content: "";
    margin: 0 auto;
    width: 10rem;
    height: 0.1rem;
    display: block;
    background-color: $orange;
}

.heading-line::after {
    content: "";
    margin: 0 auto;
    width: 2rem;
    height: 0.2rem;
    padding-top: 0.5rem;
    display: block;
    margin-bottom: 1rem;
    background-color: $orange;
}

// Display-3
.display-3 {
    font-family: 'Poppins', sans-serif;
}

// Border-right
.border-right {
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}